.container {
  background-color: #ffcc29;
  border-radius: 30px;
  position: relative;
  width: 195px;
  height: 50px;
  box-shadow: 20px 20px 27px -20px rgba(0, 0, 0, 0.69);
}

.container > .expand {
  position: absolute;
  height: 100%;
  border-radius: 25px;
  opacity: 0.3;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0.13) 60%,
    rgb(255, 255, 255) 81%
  );
  transition: width 0.3s linear;
}

.container > .expanding {
  width: 100%;
}

.container > .contracting {
  width: 0;
}

.container > .link-container {
  opacity: 0.8;
  z-index: 10;
}

.container > .link-container > a {
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
  padding: 0 7px 0 25px;
}

.container > .link-container > a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.container > .link-container > a:hover .icon-holder {
  background-color: rgb(158, 158, 158);
}

.container > .link-container > a > .icon-holder {
  padding: 10px 10px;
  margin-left: 20px;
  background-color: white;
  border-radius: 50%;
}

.container > .link-container > a > .icon-holder > i {
  font-size: 20px;
}

.container > .link-container > a > p {
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
